                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"></table>
                                    <tr>
                                      <td align="left" valign="top" style="padding: 24px 0px 0px 0px">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" align="left" style="border-collapse: separate; border-spacing: 0; margin-right: auto; margin-left: auto">
                                          <tr>
                                            <td valign="top" align="left">
                                              <div
                                                class="pc-font-alt pc-w620-fontSize-15px"
                                                style="
                                                  line-height: 21px;
                                                  letter-spacing: -0.2px;
                                                  font-family: 'Jost', Arial, Helvetica, sans-serif;
                                                  font-size: 16px;
                                                  font-weight: normal;
                                                  font-variant-ligatures: normal;
                                                  color: #000929;
                                                  text-align: left;
                                                  text-align-last: left;
                                                ">
                                                <div>
                                                  <span style="font-family: 'Jost', Arial, Helvetica, sans-serif; color: rgb(0, 9, 41); font-size: 14px; opacity: 0.8">If you did not make this request, please disregard this email</span>
                                                </div>
                                                <div><span style="font-family: 'Jost', Arial, Helvetica, sans-serif">﻿</span></div>
                                                <div><span style="font-family: 'Jost', Arial, Helvetica, sans-serif; color: rgb(0, 9, 41)">Best Regards,</span></div>
                                                <div><span style="font-family: 'Jost', Arial, Helvetica, sans-serif">﻿</span></div>
                                                <div><span style="font-family: 'Jost', Arial, Helvetica, sans-serif; color: rgb(0, 9, 41)">E & O</span></div>
                                              </div>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <!-- END MODULE: Welcome mail -->
                    </td>
                  </tr>
                  
                  
                  <tr>
                    <td valign="top">
                      <!-- BEGIN MODULE: Footer 6 -->
                      <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                        <tr>
                          <td style="padding: 0px 0px 0px 0px">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                              <tr>
                                <td valign="top" class="pc-w520-padding-30-30-30-30 pc-w620-padding-35-35-35-35" style="padding: 40px 40px 40px 40px; border-radius: 0px; background-color: #009788" bgcolor="#009788">
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                    <tr>
                                      <td align="center" style="padding: 0px 0px 20px 0px">
                                        <table class="pc-width-hug pc-w620-gridCollapsed-0" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                          <tr class="pc-grid-tr-first pc-grid-tr-last">
                                            <td class="pc-grid-td-first pc-w620-itemsSpacings-20-0" valign="middle" style="padding-top: 0px; padding-right: 15px; padding-bottom: 0px; padding-left: 0px">
                                              <table style="border-collapse: separate; border-spacing: 0" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                <tr>
                                                  <td align="center" valign="middle">
                                                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%">
                                                      <tr>
                                                        <td align="center" valign="top">
                                                          <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                            <tr>
                                                              <td valign="top">
                                                                <a class="pc-font-alt" href="https://x.com/Eyrie_Obra" target="_blank" style="text-decoration: none">
                                                                  <img
                                                                    src="https://res.cloudinary.com/dxp3e0rcz/image/upload/v1725970560/twitter_x_logo.png"
                                                                    class=""
                                                                    width="20"
                                                                    height="20"
                                                                    style="display: block; border: 0; outline: 0; line-height: 100%; -ms-interpolation-mode: bicubic; width: 20px; height: 20px"
                                                                    alt="" />
                                                                </a>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td class="pc-grid-td-last pc-w620-itemsSpacings-20-0" valign="middle" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 15px">
                                              <table style="border-collapse: separate; border-spacing: 0" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                <tr>
                                                  <td align="center" valign="middle">
                                                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%">
                                                      <tr>
                                                        <td align="center" valign="top">
                                                          <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                            <tr>
                                                              <td valign="top">
                                                                <a class="pc-font-alt" href="https://www.instagram.com/eyrie.obra/" target="_blank" style="text-decoration: none">
                                                                  <img
                                                                    src="https://res.cloudinary.com/dxp3e0rcz/image/upload/v1725970560/instagram_logo.png"
                                                                    class=""
                                                                    width="20"
                                                                    height="20"
                                                                    style="display: block; border: 0; outline: 0; line-height: 100%; -ms-interpolation-mode: bicubic; width: 20px; height: 20px"
                                                                    alt="" />
                                                                </a>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                    <tr>
                                      <td align="center" valign="top" style="padding: 0px 0px 14px 0px">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="border-collapse: separate; border-spacing: 0; margin-right: auto; margin-left: auto">
                                          <tr>
                                            <td valign="top" align="center">
                                              <div
                                                class="pc-font-alt"
                                                style="
                                                  line-height: 143%;
                                                  letter-spacing: -0.2px;
                                                  font-family: 'Jost', Arial, Helvetica, sans-serif;
                                                  font-size: 14px;
                                                  font-weight: normal;
                                                  font-variant-ligatures: normal;
                                                  color: #ffffff;
                                                  text-align: center;
                                                  text-align-last: center;
                                                ">
                                                <div><span style="font-family: 'Jost', Arial, Helvetica, sans-serif; color: rgb(255, 255, 255)">1090 Contact address, city name</span></div>
                                                <div><span style="font-family: 'Jost', Arial, Helvetica, sans-serif; color: rgb(255, 255, 255)">Lagos, Nigeria</span></div>
                                              </div>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                    <tr>
                                      <td align="center">
                                        <table class="pc-width-hug pc-w620-gridCollapsed-0" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                          <tr class="pc-grid-tr-first pc-grid-tr-last">
                                            <td class="pc-grid-td-first pc-grid-td-last" valign="top" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px">
                                              <table style="border-collapse: separate; border-spacing: 0" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                <tr>
                                                  <td align="center" valign="top">
                                                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%">
                                                      <tr>
                                                        <td align="center" valign="top">
                                                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" align="center" style="border-collapse: separate; border-spacing: 0">
                                                            <tr>
                                                              <td valign="top" align="left">
                                                                <div
                                                                  class="pc-font-alt"
                                                                  style="
                                                                    line-height: 171%;
                                                                    letter-spacing: -0.2px;
                                                                    font-family: 'Jost', Arial, Helvetica, sans-serif;
                                                                    font-size: 14px;
                                                                    font-weight: 500;
                                                                    font-variant-ligatures: normal;
                                                                    color: #000929;
                                                                    text-align: left;
                                                                    text-align-last: left;
                                                                  ">
                                                                  <a class="pc-font-alt" href="https://www.eyrienobra.com/unsubscribe" target="_blank" style="text-decoration: none">
                                                                    <div><span style="font-family: 'Jost', Arial, Helvetica, sans-serif; color: rgb(0, 9, 41)">Unsubscribe</span></div>
                                                                  </a>
                                                                </div>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <!-- END MODULE: Footer 6 -->
                    </td>
                  </tr>


                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- Fix for Gmail on iOS -->
    <div class="pc-gmail-fix" style="white-space: nowrap; font: 15px courier; line-height: 0">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>