    <table class="pc-project-body" style="table-layout: fixed; min-width: 600px; background-color: #f4f4f4" bgcolor="#f4f4f4" width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
      <tr>
        <td align="center" valign="top">
          <table class="pc-project-container" align="center" width="600" style="width: 600px; max-width: 600px" border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
              <td style="padding: 20px 0px 20px 0px" align="left" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="width: 100%">
                  <tr>
                    <td valign="top">
                      <!-- BEGIN MODULE: Welcome mail -->
                      <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                        <tr>
                          <td class="pc-w620-spacing-0-0-0-0" style="padding: 0px 0px 0px 0px">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                              <tr>
                                <td valign="top" class="pc-w620-padding-20-30-40-30" style="padding: 24px 40px 64px 40px; border-radius: 0px; background-color: #f3fffd" bgcolor="#f3fffd">
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                    <!-- Logo image -->
                                    <tr>
                                      <td class="pc-w620-spacing-0-0-40-0" align="center" valign="top" style="padding: 0px 0px 24px 0px">
                                        <img
                                          src="https://res.cloudinary.com/dxp3e0rcz/image/upload/v1725969755/header-logo_y56ybz.png"
                                          class=""
                                          width="48"
                                          height="104"
                                          alt=""
                                          style="display: block; outline: 0; line-height: 100%; -ms-interpolation-mode: bicubic; width: 48px; height: auto; max-width: 100%; border: 0" />
                                      </td>
                                    </tr>
                                  </table>
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                    <tr>
                                      <td align="left" valign="top" style="padding: 0px 0px 20px 0px">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="border-collapse: separate; border-spacing: 0; margin-right: auto; margin-left: auto">
                                          <tr>
                                            <td valign="top" align="left">
                                              <div
                                                class="pc-font-alt pc-w620-fontSize-14px"
                                                style="
                                                  line-height: 121%;
                                                  letter-spacing: -0.6px;
                                                  font-family: 'Jost', Arial, Helvetica, sans-serif;
                                                  font-size: 16px;
                                                  font-weight: normal;
                                                  font-variant-ligatures: normal;
                                                  color: #000929;
                                                  text-align: left;
                                                  text-align-last: left;
                                                ">
                                                <div>
                                                  <span style="font-family: 'Jost', Arial, Helvetica, sans-serif; font-weight: 400; font-style: normal; color: rgb(0, 9, 41); letter-spacing: -0.6px" data-letter-spacing-original="-0.6"
                                                    >{{ greeting }}</span
                                                  >
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                    <tr>
                                      <td align="center" valign="top" style="padding: 0px 0px 12px 0px">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="border-collapse: separate; border-spacing: 0; margin-right: auto; margin-left: auto">
                                          <tr>
                                            <td valign="top" align="center">
                                              <div
                                                class="pc-font-alt pc-w620-fontSize-24px pc-w620-lineHeight-133pc"
                                                style="
                                                  line-height: 128%;
                                                  letter-spacing: -0.6px;
                                                  font-family: 'Jost', Arial, Helvetica, sans-serif;
                                                  font-size: 36px;
                                                  font-weight: 800;
                                                  font-variant-ligatures: normal;
                                                  color: #000929;
                                                  text-align: center;
                                                  text-align-last: center;
                                                ">
                                                <div><span style="font-family: 'Jost', Arial, Helvetica, sans-serif; color: rgb(0, 9, 41)">{{ title }}</span></div>
                                              </div>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>